<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 {% block title %} Create new Task {% endblock %} <!--Tittle of the page-->

 {% block content %} 
 
  <form method="post">
    {% csrf_token %} <!-- Security Pourposes-->
    {{form.as_p}}
    <button type="submit", name="save">save</button>
    </form>
    <form method="get">
        {% csrf_token %}
        <button type="submit" name="addsubtask">Add Subtask</button>
    </form>
 {% endblock %}
</body>
</html>