<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{task.task_name}}</h1> <a href="#">Edit</a> <button>Delete</button>
    <h2>{{task.Task_despcription}}</h2><p>{{task.pub_date}}</p>
    {% if task.Completed == True %}
    <p>This task is completed</p>
    {% else %}
    <p>This task is uncompleted</p>
    {% endif %}

    {% if subtask_list %}

    <ul>
    {% for subtask in subtask_list %}
        <li><p>{{ subtask.subtask_text }}</p></li>
    {% endfor %}
    </ul>
    
{% else %}
    <p>No tasks are available.</p>
{% endif %}
    <div class="addsubtasks">
        <button>Add subtask</button>
    </div>
</body>
</html>